<div class="row">
  <div class="col-md-4">
  </div>
<div class="col-md-4">
<h1>Reset Password</h1>
<%= form_tag password_resets_path, :method => :post do %>
  <div class="form-group">
    <%= label_tag :email %>
    <%= email_field_tag :email, "", class: "form-control" %>
  </div>
  <div class="text-center">
  <div class="actions"><%= submit_tag "Reset Password", class: "btn btn-danger btn-custom"%>
  </div>
</div>
<% end %>
</div>
<div class="col-md-4">
</div>
</div>
