<div class='container'>
<% @unapproved_users.each do |user| %>
<span class='admin'>
   <%= user.first_name %>
   <%= link_to "Approve", approved_path(user),
                         method: :patch,
                         remote: true%>
     <hr>
   </span>
  <% end %>
</div>
