<div class="container">
  <div class="avatar" style="">
    <%#= image_tag @user.profile.avatar %>
  </div>
  <div class="name-pitch">
    <h2><%= @user.full_name %></h2>
    <p><%= @user %></p>      
  </div>
</div>
