<p>Hello <%= @profile.user.full_name %>,</p>
<p><%= @details[:cname].titleize%>(<%=@details[:cemail]%>) has sent you a message </p>
<p>
<%= @details[:cmessage] %>
</p>
<p>
Regards,
CodeCore Team
</p>
