<p>Hello <%= @profile.user.full_name %>,</p>
<p><%= @details[:contact_name].titleize%>(<%=@details[:contact_email]%>) has sent you a message </p>
<p>
<%= @details[:contact_text] %>
</p>
<p>
Regards,
CodeCore Team
</p>
