// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.comxz

body {
  margin-left: 0;
}

.bg {
  background: url('startup.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 500px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  margin-top: 80px;
}

.jumbotron {
  height: 500px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background: transparent;
  margin-bottom: -250px;
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
  -webkit-transition-property: background-position;
  -moz-transition-property: background-position;
  -o-transition-property: background-position;
}

#about {
  background-color: white;
  padding: 80px;
  padding-bottom: 110px;
  width: 100%;
  overflow: hidden;
  left: 0;
  position: relative;
  bottom: -100px;
}

.btn.available {
  text-align: center;
  vertical-align: middle;
  border: 1px solid white;
  border-radius: 0px;
  width: 250px;
  padding: 30px;
  color: #FBFBFB;
  text-shadow: 0px 0px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: 'Open Sans', 'Verdana', 'Helvetica', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  margin-top: 60px;
  box-shadow: none;
}

.btn.available:hover {
  background-color: #FBFBFB;
  color: black;
}

.btn.all {
  text-align: center;
  vertical-align: middle;
  border: 1px solid white;
  border-radius: 0px;
  width: 250px;
  padding: 30px;
  color: #FBFBFB;
  text-shadow: 0px 0px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: 'Open Sans', 'Verdana', 'Helvetica', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  margin-top: 60px;
  box-shadow: none;
}

.btn.all:hover {
  background-color: #FBFBFB;
  color: black;
}

h1.jumbotron-text {
  margin-top: 50px;
  font-family: 'Open Sans', 'Verdana', 'Helvetica', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: none;
}
