// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
  margin-bottom: 40px;
}

#user {
  margin-bottom: 50px;
}

#user-image {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#user-image:hover {
  opacity: 0.5;
}

.links {
  text-align: center;
}

.edit-heading {
  text-align: center;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(203, 13, 15, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(203, 13, 15, 0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

.container {
  width: 80%;
  margin-bottom: 20px;
}

.avatar {
  display: inline;
  width: 250px;
  height: 250px;
  float: left;
  border: 1px solid grey;
  padding: 0;
  img {
    width: 100%;
  }
}

.name-pitch {
  display: inline;
  float: right;
  width: 70%;
}

.profile-header {
  margin-bottom: 15px;
}
.meter-1 {
  background-color: #FFC064;
  height: 20px;
  width: 100%;
  border-radius: 5px;
  margin-left: 10px;
}
.meter-2 {
  background-color: #FFC064;
  height: 20px;
  width: 30%;
  border-radius: 5px;
  margin-left: 10px;
}
.meter-3 {
  background-color: #FFC064;
  height: 20px;
  width: 30%;
  border-radius: 5px;
  margin-left: 10px;
}
.meter-4 {
  background-color: #FFC064;
  height: 20px;
  width: 50%;
  border-radius: 5px;
  margin-left: 10px;
}
// .meter {
//   background-color: #FFC064;
//   height: 20px;
//   width: 100%;
//   border-radius: 5px;
//   margin-left: 10px;
// }
//
// #progress-bar {
//   width: 300px;
//   // border-radius: 2px;
//   display: flex;
//   color: #555;
//   font-family: sans-serif;
//   font-weight: bold;
// }
.tiny-green {
    position: relative;
    padding: 10px;
  height: 15px;
	background-image:-moz-linear-gradient(53% 13% -90deg,rgb(58,64,80) 0%,rgb(58,64,80) 47%,rgb(46,50,62) 48%,rgb(46,50,62) 100%);
	background-image:-webkit-gradient(linear,53% 13%,53% 79%,color-stop(0, rgb(58,64,80)),color-stop(0.47, rgb(58,64,80)),color-stop(0.48, rgb(46,50,62)),color-stop(1, rgb(46,50,62)));
	background-image:-webkit-linear-gradient(-90deg,rgb(58,64,80) 0%,rgb(58,64,80) 47%,rgb(46,50,62) 48%,rgb(46,50,62) 100%);
	background-image: linear-gradient(-180deg, #2eac66 0%, #7ebc57 47%, #b3cd41 48%, #dfdd19 100%);

	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Webkit */
	border-radius: 10px;
}

.tiny-green div {

	font-family: arial;
	font-size: 3px;
	color: white;
	text-align: right;
	text-shadow: 0px 0px 2px #000;
	text-indent: 9999px;
	overflow: hidden;

	background-image:-webkit-gradient(linear,71% 25%,71% 69%,color-stop(0, rgb(118,177,1)),color-stop(0.47, rgb(118,177,1)),color-stop(0.48, rgb(102,153,0)),color-stop(1, rgb(102,153,0)));
	background-image:-webkit-linear-gradient(-90deg,rgb(118,177,1) 0%,rgb(118,177,1) 47%,rgb(102,153,0) 48%,rgb(102,153,0) 100%);
	background-image:-moz-linear-gradient(71% 25% -180deg,rgb(118,177,1) 0%,rgb(118,177,1) 47%,rgb(102,153,0) 48%,rgb(102,153,0) 100%);
	background-image: linear-gradient(-180deg, #2eac66 0%, #7ebc57 47%, #b3cd41 48%, #dfdd19 100%);

	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Webkit */
	border-radius: 10px;
}

#omg {
  display: inline-flex;
}

#omg p {
}

.skill-type {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: larger;
  min-width: 70px;
}
